<div class="row">
  <div class="col-md-8 col-12">
    <div class="card min-card-width">
      <div class="card-header bg-blue text-white text-center">
        <img class="card-menu-icon" src="./../../assets/images/icons/menu.png">
        Send push notification
      </div>
      <div class="card-block">
        <div class="card-body">
          <div *ngIf="msg"
            [class.alert-success]="success"
            [class.alert-danger]="!success"
            class="alert alert-dismissible fade show"
            role="alert">
              <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ msg }}
          </div>
          <form>
            <div class="form-group">
              <label for="message">MESSAGE</label>
              <textarea [(ngModel)]="message" name="message" id="message" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="audience">AUDIENCE </label>
              <select [(ngModel)]="audience" name="audience" id="audience" class="form-control">
                <option value="all">All</option>
                <option value="location">By location</option>
              </select>
            </div>
            <div *ngIf="audience === 'location'" class="form-group"><label for="location">LOCATION</label>
              <select [(ngModel)]="location" name="location" id="location" class="form-control">
                <option *ngFor="let location of locations" value="{{ location }}">{{ location }}</option>
              </select>
            </div>
            <div class="form-group">
              <div *ngIf="showProgressBar" class="transparent-loader"></div>
              <button (click)="sendPushNotification()" type="button" class="btn btn-lg-custom btn-outline-info pull-right">
                SEND
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4 col-12">
      <div class="card phone-preview-min-width">
        <div class="card-header bg-blue text-white text-center">Preview</div>
        <div class="card-block">
          <div class="margin-10 custom-bg">
            <div class="card-body custom-bg phone-image">
              <div class="notification-preview text-center">
                <div class="current-time"> {{ today | date: 'HH:mm' }} </div>
                <div class="current-date"> {{ today | date: 'EEEE, MMMM dd' }} </div>
                <div class="notification">
                  <div class="notification-box">
                    <div class="app-icon"></div>
                    <div class="app-name">Citizen Reporter</div>
                    <div class="app-time"></div>
                    <div class="message"> {{ message }} </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
