<div class="menu-header">
  <h2> Data &amp; Analytics </h2>
</div>

<ul>
  <li *ngFor="let menu of dataMenu">
    <a routerLink="#">
      <span><img src="../../assets/images/icons/{{ menu.icon }}" class="menu-icon"/></span>
      {{ menu.name }}
    </a>
  </li>
</ul>

<div class="menu-header">
  <h2> Push Notifications </h2>
</div>

<ul>
  <li>
    <a routerLink="#">
      <span><img src="../../assets/images/icons/envelope_icon.png" class="menu-icon"/></span>
      Notifications
    </a>
  </li>
</ul>
