:host {
  position: fixed;
  top: 55px;
  left: 0px;
  right: auto;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 1000;
}

ul {
    font-size: 18px;
    line-height: 3;
    font-weight: 400;
    padding-top: 10px;
    list-style: none;
  }

.active {
    opacity: unset;
}
