:host {
  position: fixed;
  top: 55px;
  left: 0px;
  right: auto;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  max-width: 250px;
}

.menu-header {
    padding-top: 40px;
}

ul {
    font-size: 16px;
    line-height: 3;
    font-weight: 400;
    list-style: none;
}

ul li {
    width: 250px;
    margin-left: -40px;
    padding-left: 40px;
}

ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: 250px;
    margin-left: -40px;
    padding-left: 40px;
}

ul li :hover {
    background-color: #26273B;
}

.active {
    opacity: unset;
    background-color: #26273B;
}

.menu-icon {
    margin-top: -5px;
    min-width: 20px;
    max-width: 20px;
    margin-right: 15px;
}

.right-icon {
    float: right;
}

.menu-title {
  font-weight: 600;
}
