<div class="menu-header">
  <h2> Analytics </h2>
</div>

<ul>
  <li *ngFor="let menu of analyticsMenu" [class.active]="selectedMenu === menu.name" (click)="onMenuClick(menu)">
    <a routerLink="{{ menu.url }}">
      <span><img src="{{ menu.icon }}" class="menu-icon"/></span>
      {{ menu.name }}
      <span class="right-icon" [@showSideIcons]="toggleState">
        <img src="{{ menu.icon }}" class="menu-icon"/>
      </span>
    </a>
  </li>
</ul>

<div class="menu-header">
  <h2> Data </h2>
</div>

<ul>
  <li *ngFor="let menu of dataMenu" [class.active]="selectedMenu === menu.name" (click)="onMenuClick(menu)">
    <a routerLink="{{ menu.url }}">
      <span><img src="{{ menu.icon }}" class="menu-icon"/></span>
      {{ menu.name }}
      <span class="right-icon" [@showSideIcons]="toggleState">
        <img src="{{ menu.icon }}" class="menu-icon"/>
      </span>
    </a>
  </li>
</ul>

<div class="menu-header">
  <h2> Push Notifications </h2>
</div>

<ul>
  <li *ngFor="let menu of notificationMenu" [class.active]="selectedMenu === menu.name" (click)="onMenuClick(menu)">
    <a routerLink="{{ menu.url }}">
      <span><img src="{{ menu.icon }}" class="menu-icon"/></span>
      {{ menu.name }}
      <span class="right-icon" [@showSideIcons]="toggleState">
          <img src="{{ menu.icon }}" class="menu-icon"/>
      </span>
    </a>
  </li>
</ul>
