.table-header {
    background-color: #484A69 !important;
    color: #A6A8B9 !important;
    text-align: center;
}

.selected-row {
    background-color:#E9ECEF !important;
    cursor: pointer;
}

.card-body {
    padding: 20px;
    overflow: scroll;
}

.selected-page {
    background-color: #E9ECEF !important;
}
