<div class="container">
  <div id="app-header">
    <div id="app-header-left">
      <div class="app-name">Citizen Reporter </div>
    </div>
    <div id="app-header-right">
        <div class="dropdown">
          <div class="inset"><img src="../../../assets/images/icons/person-icon.png"></div>
            <div class="dropdown-content" id="dropdown-color">
              <a href="#"><img src="../../../assets/images/icons/Settings.ico" class="dropdown-menu-icon"/> Settings</a>
              <a href="#" (click)="onLogout()"><img src="../../../assets/images/icons/logout.ico" class="dropdown-menu-icon"/> Log out</a>
            </div>
        </div>
    </div>
  </div>
</div>
